/*w3 parallax code*/

body,
html {
  height: 100%;
}

/*centers items within div*/
.center-items {
  margin-left: auto;
  margin-right: auto;
}

/* aligns text in center of div */
.center {
  text-align: center;
}
/* makes text bold*/
.bold {
  font-weight: bolder;
}
/*styles links*/
a {
  color: darkgreen !important;
  border-right-style: solid;
  border-color: rgb(138, 182, 138);
  font-size: 1rem;
}
/*Universal Font Family and color*/
h1,
h2,
p {
  color: #3b2f2f !important;
  font-family: "Neucha", cursive;
}

h1 {
  font-size: 4em !important;
}

h2 {
  font-size: 3em !important;
}

p,
a {
  font-size: 1.5rem !important;
}
/*stops right border on contact*/
.contact {
  border-right: none;
}
/* Used to create parallax. Altered from W3 Schools*/
.parallax {
  /* The image used */
  background-image: url("./images/backgroundPhoto.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*sets height and sets up columns*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* responsiveness for profile picture. Worked better than img-fluid */
@media screen and (max-width: 650px) {
  .profile-pic {
    max-width: 90%;
  }
}
/* responsiveness for profile picture. Worked better than img-fluid */
@media screen and (min-width: 650px) {
  .profile-pic {
    max-width: 300px;
  }
}

/*Small Change to bootstraps rem width to have better responsiveness.
  Hardcoded height helps all cards look more consistent*/
.card-size {
  width: auto;
  height: 500px;
}

/*sizing for tech skills icons*/
.icon-size {
  max-width: 150px;
  height: auto;
}

.background-color {
  background: rgb(141, 199, 199);
}

/*sizing for contact me icons */ 
.contact-icons{
  max-width:100px;
  height:auto
}

.card-img-top {
max-height:250px;
}
