/*w3 parallax code*/ 

body, html {
    height: 100%;
  }
  
.parallax {
    /* The image used */
    background-image: url("./images/backgroundPhoto.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*sets height and sets up columns*/ 
.hero{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}



.center {
    text-align: center;
  }

  @media screen and (max-width: 650px) {
    .profile-pic {
        max-width: 90%;
    }
  }

  @media screen and (min-width: 650px) {
    .profile-pic {
        max-width: 300px;
    }
  }
  
.center-items{
    margin-left:auto;
    margin-right:auto;
}